@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Nunito|Quattrocento|Quattrocento+Sans|Roboto|Sorts+Mill+Goudy|Libre+Baskerville');

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-moz-selection {background-color: #FFDC4A;}    
::selection {background-color: #FFDC4A;} 

body {
    scroll-behavior: smooth;
}


/*menubar*/
.menubar {
    position: fixed;
    overflow: hidden;
    padding-right: 15%; 
    padding-left: 15%; 
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.menueach {
    float: right;
    display: block;
    padding: 24px 39px;
}

#nav {
    display: block;
    
    font-family: Roboto;
    text-decoration: none;
    letter-spacing: 1.4px;

}

#line {
    position: absolute;
    display: inline;
    border: solid #000000;
    border-width: 2px 0 0 0;
    margin-top: 9px;
    margin-left: 3px;
    padding: 15px;
}

.menu-id {
    padding: 24px 39px;
}

.menu-id a {
    color: #000;
    font-family: Sorts Mill Goudy; 
    font-size: 23px;
    line-height: 1;  
    font-weight: 500;
    text-decoration: none;
}

#myidunderline {
    position: absolute; 
    z-index: -2;
    
    bottom: 0px;
    
    width: 45px;
    height: 10px;
    background-color: #E6E6E6;
}


/*myid*/
.course-pad {
    position: FIXED;
    width: 90px;
    height: 210px;
    
    top: 110px;
    margin-left: 35%;
    z-index: 0;
    
    background-color: #fff;
  
}
.goback-pad {
    position: relative;
    z-index: 2;
}

.goback-pad img {
    position: absolute;
    z-index: 5;
    left: 30px;
    top: 42px;
    width: 22px;
}


/*container*/
.container {
    display: inline-block;
    margin-left: 43%;

    width: 600px;
    
}

#gap {
    position: relative;
    height: 125px;
}

/*address*/

/**/
.project {
    position: relative;
    margin-top: 155px;
    margin-bottom: 20px;
}


#from-class {
    position: relative;
    margin-bottom: 10px;
    
    display: inline-block;
    text-transform: uppercase;
    color: #333333;
    
    font-family: Nunito;
    font-size: 12px; 
    letter-spacing: 1.4px;
    
    padding: 8px 20px 3px 10px;
    background-color: #F2F2F2;

}

#professor {
    position: relative;
    margin-bottom: 44px;
    right: 0px;
    
    font-family: Libre Baskerville;
    color: #1a1a1a;
}

.project-code {
    margin-top: 210px;
    margin-bottom: 160px;
}

#asm {
    position: relative;
    
    background-color: #314289;
    padding: 10px 30px 6px 13px;
    border: 0px solid #fff;
    
    text-transform: uppercase;
    color: #fff;
    
    font-family: Nunito;
    font-size: 13.5px; 
    letter-spacing: 1.4px;
}




.project-intro i {
    position: absolute;
    
    top: 27px;
    
    font-family: Nunito; 
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: #808080;
    
}

.project-intro-cmt img {
    
    top: -20px;
    position: relative; 
    
    height: 400px;
}

.project-intro-cmt {
    position: relative;
    
    margin-top: 17px;
    margin-right: 12px;;
    
    width: 378px;
    height: 203px;
    
    border: 1px solid #d3d3d3;
    padding: 80px 30px 0 25px;
}

.project-intro-cmt p {
    
    padding-left: 15px;
    padding-right: 0px;
    
    font-family: Quattrocento Sans;
    font-size: 15px;
    
}

.project-intro {
    padding-left: 1px;
    padding-top: 0px;
    padding-bottom: 30px;
}

/*data*/

.project-data {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0px;
    
    width: 130px;
    border-top: 9px solid #FFDC4A;

}

#project-title img {
    margin-left: 13px;
}

#project-title {
    position: relative;

    width: 310px;

    margin-top: 7px;
    margin-bottom: 35px;
    padding: 32px 0 15px 27px;
    
    line-height: 1.4;
    color: #424242;
    font-family: Roboto;
    font-size: 29px;
    font-weight: 600;
    letter-spacing: 2.7px;
}

#project-title::before {
    position: absolute;
    z-index: -1;
    content: "";
    
    left: 3px;
    top: -7px;
    
    width: 100%;
    height: 90%;
    
    background: repeating-linear-gradient(
        0deg,
        #f0f0f0,
        rgba(0,0,0,0) 3px,
        rgba(0,0,0,0) 12px,
        rgba(0,0,0,0) 24px
    );
    opacity: 1;
}

#project-title::after {
    position: absolute;
    z-index: -1;
    content: "";
    
    left: 3px;
    bottom: 0px;
    
    width: 100%;
    height: 100%;
    
    background: repeating-linear-gradient(
        90deg,
        #f0f0f0,
        rgba(0,0,0,0) 3px,
        rgba(0,0,0,0) 12px,
        rgba(0,0,0,0) 24px
    );
    opacity: 1;
}



/*content*/
.content {
    
    position: relative;
    padding-left: 15px;
    
    border-left: 1.4px solid #f0f0f0;
}

.content h1 {
    padding-top: 80px;
    padding-bottom: 10px;
    
    color: #494949;
    
    width: 580px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1.1pt;
    line-height: 1.3;
}

.content p {
    font-family: Roboto;
    font-size: 17px;
    letter-spacing: 0.2pt;
    line-height: 1.7;
    padding-bottom: 3pt;
    color: #4f4f4f;
}

.project-results img {
    position: relative;
    display: block;
    
    width: 680px;
    
    margin: 0 0 14px 0; 
}

#open-pdf {
    margin-top: 0px;
    margin-bottom: 100px;

}

#open-pdf img {
    width: 20px;
    margin-left: 12px;
    
    position: relative;
    top: -4px;
}

#open-pdf a {
    position: relative;
    margin-left: 3px;
    
    text-decoration: none;
    font-family: Nunito;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #000;
    
    padding: 11px 11px 4px 12px;
    background-color: #f5f5f5;
    
}
#open-pdf a:hover {
    background-color: #f4f4f4;
}

#mine {
    position: relative;
    height: auto;
    width: 500px;
    top: 20px;
    
    margin-bottom: 20px;
}

/* i feel */
.i-feel {
    position: relative;
    right: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
            
}

.they-read {
    float: left;
    
    font-family: Helvetica;
	font-size: 17px;
	font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 170%;
    
    display: block;
    position: relative;
	padding: 10px 18px 6px 18px;
    
	background:#E5E5EA;
	border-radius: 11px;
	color: #000;
    
    margin-bottom: 10px;
}

.they-read a {
    margin-right: 10px; 
    font-weight: 600;
    padding-bottom: 1px;
    
    text-decoration: none;
    font-size: 16px;
    color: #314289;
    border-bottom: 1.5px solid #314289;
}

.they-read:last-of-type::before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
    
        width: 20px;
		height:20px;
    
		background: rgba(229, 229, 234, 1);
    
		border-radius: 0 0 16px 0;
        
        transform:translate(0, -2px);
		-webkit-transform:translate(0, -2px);
        -ms-transform:translate(0, -2px);
        -moz-transform:translate(0, -2px);
        -o-transform:translate(0, -2px);
    
}
.they-read:last-of-type::after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		
        background: #fff;
    
		border-radius: 0 0 10px 0;
    
        transform:translate(-30px, -2px);
		-webkit-transform:translate(-30px, -2px);
        -ms-transform:translate(-30px, -2px);
        -moz-transform:translate(-30px, -2px);
        -o-transform:translate(-30px, -2px);
}

.text {
    display: block;
    position: relative;
    height: 40px;
    max-width: 300px;
}

.they-read img {
    display: inline-block;
    width: 27px;
    margin-right: 7px;
    margin-left: 10px;
}

#gap {
    position: relative;
    height: 265px;
}

.text #gap {
    height: 350px;
}

#cmt {
    margin-top: 30px;
}